@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
.accesorios{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    width: 100vw;
}
.titulo-accesorios{
    display: flex;
    justify-content: flex-start;
    height: inherit;
    width: inherit;
    padding: 2%;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 2em;
} 
.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
}
.producto{
    display: grid;
    box-shadow: 0 0 5px 3px black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "imagen info precio"
    "imagen info comprar"
    ;
    width: 90vw;
    height: auto;
}
.producto-1{
    margin-bottom: 20px;
}
.image{
    height: 300px;
    width: 300px;
}
.img-producto1{
    grid-area: imagen;
    background: url(/assets/imagenes/funda.png);
    background-repeat: no-repeat;
    background-size: cover;
}