@font-face {
    font-family: Poppins; /* TITULOS */
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo {
    margin-left: 30px;
    padding: 20px;
}

.nav-bar {
    background-color: black;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    height: 13vh;
    width: 100vw;
    font-size: 20px;
    color: white;
    font-family: 'Poppins';
}

.cabecera {
    position: sticky;
    top: 0;
}

.list>ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.list>ul>li {
    list-style: none;
}

.compra {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.4s;
}

.compra:hover {
    cursor: pointer;
    scale: 1.04;
    box-shadow: 0px 0px 5px 3px #ffb419;
}

.login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.4s;
}

.login:hover {
    cursor: pointer;
    scale: 1.04;
    box-shadow: 0px 0px 5px 3px #ffb419;
}

.botones {
    display: flex;
    gap: 10px;
    padding: 8px;
    margin-right: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffb419;
    border-bottom:2px solid #ffb419;
    transition: 0.2s;
}


/* Aqui empiezan los estilos  del main */

.foto-camara {
    background-image: url(/assets/imagenes/OptimizelyDesktopWebP.webp), 
        radial-gradient(circle closest-corner at center, #feb319, #fffbec, silver);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/* Aqui acaban los estilos del main */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "contenido rs iframe"
    ;
    background-color: #C0C0C0;
    height: auto;
    width: 100vw;
    bottom: 0;
}

.footer-content {
    grid-area: contenido;
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins;
    font-size: 1.3em;
}

.rs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-content > ul > li{
    list-style: none;
}
.ig {
    background-image: url(/assets/imagenes/ig-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: 0.5s;
    filter: grayscale(100%);

}

.ig:hover {
    height: calc(40px * 1.5);
    width: calc(40px * 1.5);
    cursor: pointer;
    filter: none;
}

.tw {
    background-image: url(/assets/imagenes/tw-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: 0.5s;

}

.tw:hover {
    height: calc(40px * 1.5);
    width: calc(40px * 1.5);
    cursor: pointer;
}
.tiktok {
    background-image: url(/assets/imagenes/tiktok-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: 0.5s;

}

.tiktok:hover {
    background-image: url(/assets/imagenes/tiktok-2.png);
    height: calc(40px * 1.5);
    width: calc(40px * 1.5);
    cursor: pointer;
}
.iframe{
    display: flex;
    flex-direction: row;
    grid-area: iframe;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
}