@font-face {
    font-family: Poppins;
    src: url(/assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.contenido {
    display: flex;
    flex-direction: column;
    height: auto;
    background: radial-gradient(circle closest-corner at center, #feb319, #fffbec, silver);
}
.foto-camara {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/imagenes/OptimizelyDesktopWebP.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 70vh;
}
.texto-camara {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 15%;
    grid-template-areas:
        "titulo ."
        "texto carrito";
    margin-bottom: 10%;
}
.texto-camara h1 {
    grid-area: titulo;
    margin-left: 20%;
    font-family: Poppins;
    font-size: 45px;
}
.descripcion {
    grid-area: texto;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: Montserrat;
    text-align: justify;
    font-size: 25px;
}
.descripcion h2 {
    font-family: Montserrat;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.boton {
    grid-area: carrito;
    margin-left: 20%;
    margin-top: 20%;
    padding: 30px;
    width: 40%;
    height: 20%;
    background-color: black;
    border: none;
    border-radius: 10px;
    background-image: url('/assets/imagenes/carrito.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .5s;
}
.texto-camara .boton:hover,
.texto-camara .boton:focus {
    cursor: pointer;
    outline:0;
    box-shadow: 0px 0px 5px 3px #ffb419;
    scale: 1.08;
    color: #ffb419;
}
.info-camara {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 4fr 1fr 4fr 2fr ;
    grid-row-gap: 8% ;
    grid-template-areas:
        "descubrir imagen-uno"
        "texto-uno texto-uno"
        "imagen-dos descubrir-dos"
        "texto-dos texto-dos";
}
.descubrir {
    grid-area: descubrir;
    background-color: black;
    color: white;
    height: 15%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 20%;
    border-radius: 10px;
    transition: 0.2s;
}
.descubrir:hover, 
.descubrir:focus {
    cursor: pointer;
    outline:0;
    box-shadow: 0px 0px 5px 3px #ffb419;
    scale: 1.08; 
}
.imagen-uno {
    grid-area: imagen-uno;
    background-image: url(/assets/imagenes/fotoNikon3.webp);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15% ;
    background-size: contain;
}
.texto-uno {
    grid-area: texto-uno;
    margin-left: 10%;
    width: 60%;
}
.texto-uno p {
    font-family: Montserrat;
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
}
.imagen-dos {
    grid-area: imagen-dos;
    background-image: url(/assets/imagenes/fotoNikon2.webp);
    background-repeat: no-repeat;
    margin-left: 15%;
    background-size: contain;
    margin-bottom: 40px;
    height: 100%;
}
.descubrir-dos{
    grid-area: descubrir-dos;
    background-color: black;
    color: white;
    height: 15%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 20%;
    border-radius: 10px;
    transition: 0.2s;
}
.descubrir-dos:hover, 
.descubrir-dos:focus {
    cursor: pointer;
    outline:0;
    box-shadow: 0px 0px 5px 3px #ffb419;
    scale: 1.08; 
}
.texto-dos {
    grid-area: texto-dos;
    margin-left: 30%;
    align-items: end;
    width: 60%;
    margin-bottom: 70px;
}
.texto-dos h2 {
    font-family: Poppins;
    font-size: 25px;
}
.texto-dos p {
    font-family: Montserrat;
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
}